h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 200px;
    margin: 0px 0px;
}

.background_img {
    background-image: url('MY-WEBSITE/.vscode/Website_bg.jpg');
    background-size: cover;
    height: 500px;
    width: 100%;
}

body {
    margin: 0px 0px;
}

#AboutMe {
    display: inline-block;
    border: 5px solid black;
    margin-left: 20px;
    background-color: aqua;
}
